<div class="contacts">
  <div class="contact-card" *ngFor="let contact of contacts">
    <img src="{{contact.image}}" alt="">
    <h3>{{contact.name}}</h3>
    <p class="card-email">{{contact.email}}</p>
    <p>{{contact.phoneNumber}}</p>
  </div>
</div>


<div class="new-contact-form">
<h2>FORMULARIO NUEVOS CONTACTOS:</h2>
    <div >
        <label for="contact-name">Name</label>
        <input type="text" [(ngModel)]="newContact.name" placeholder="Pepe" />
      </div>
      <div>
        <label for="contact-email">Email</label>
        <input type="text" [(ngModel)]="newContact.email" placeholder="pepito@gmail.com"/>
      </div>
      <div>
        <label for="contact-phone">Phone</label>
        <input type="text" [(ngModel)]="newContact.phoneNumber" placeholder="91 991 21 23" />
      </div>
      <div>
        <label for="contact-image">Image</label>
        <input type="text" [(ngModel)]="newContact.image" placeholder="http://migato.jpg" />
      </div>
      
      <button (click)="addContact()">Submit New Contact</button>

</div>



